%h1= t(".all_posts")

%table.table.table-hover
  %thead
    %tr
      %th
      %th= t("forums.game")
      %th= t("forums.title")
      %th= t("forums.date")
      %th
      %th

  %tbody
    - @forums.each do |forum|
      %tr
        %tr
          %td
            %img.hover_expand{:height=>"75px", :width => "75px", :src => forum.game.image}
          %td= forum.game.name
          %td= forum.title
          %td= forum.created_at

          %td.btn.btn-danger.btn-xs= link_to t("home.show"), forum
          - if forum.user_id == current_user.id
            %td.btn.btn-danger.btn-xs= link_to t("home.edit"), edit_forum_path(forum)
            %td.btn.btn-danger.btn-xs= link_to t("home.destroy"), forum, method: :delete, data: { confirm: t("home.confirmation") }
