%h1 Listing forums

%table
  %thead
    %tr
      %th Game
      %th Title
      %th Entry
      %th
      %th
      %th

  %tbody
    - @forums.each do |forum|
      %tr
        %td= forum.game.name
        %td= forum.title
        %td= forum.entry
        %td.btn.btn-danger.btn-xs= link_to 'Show', forum
        - if forum.user_id == current_user.id
          %td.btn.btn-danger.btn-xs= link_to 'Edit', edit_forum_path(forum)
          %td.btn.btn-danger.btn-xs= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New Forum', new_forum_path
