

%p
  %b Game:
  = @forum.game.name
%p
  %b Title:
  = @forum.title
%p
  %b Entry:
  = @forum.entry
- if @forum.user_id == current_user.id
  = link_to 'Edit', edit_forum_path(@forum)
\|
= link_to 'Back', forums_path
