%header
    %nav.navbar.fixed-top.navbar-expand-lg.head-nav
        %ul.navbar-nav.mr-auto.no-bullets.nav
            %li.nav-item

            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => root_path}
                    .glyphicon.glyphicon-home
                    = t('.home')
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => forums_path}
                    .glyphicon.glyphicon-comment
                    = t('.forums')
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => games_path}
                    .glyphicon.glyphicon-heart-empty
                    = t('.games')
            %li.nav-item
                %a.navbar-brand.nav-link.nav-it{:href => contact_path}
                    .glyphicon.glyphicon-send
                    = t('.contact_us')
        %ul.navbar-nav.mr-auto.no-bullets.nav.navbar-right
            %li.nav-item
                -if user_signed_in?
                    %li.nav-item
                        .navbar-brand= link_to t('profile'), edit_user_registration_path
                    %li.nav-item
                        .navbar-brand= link_to t('logout'), destroy_user_session_path, method: 'delete'
                -else
                    %li.nav-item
                        .navbar-brand= link_to t('login'), new_user_session_path
                    %li.nav-item
                        .navbar-brand= link_to t('sign_up'), new_user_registration_path

- flash.each do |key, value|
    = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
