%h2= t(".search_results")
%table.table.table-hover
  %thead
    %tr
      %th
      %th= t("games.name")
      %th= t("games.deck")
      %th= t("games.ogrd")
      %th= t("games.erd")
      %th= t("games.platforms")
      %th
      %th
      %th

  %tbody
    - @id_arr.each do |element|
      - game = Game.where(:gb_id => element.values_at("id")[0]).first
      - puts game
      %tr
        %td
          %img{:height=>"300px", :width => "300px", :src => game.image}
        %td= game.name
        %td= game.deck
        %td= game.og_release_date
        %td= game.expected_release_year.to_s + "-" + game.expected_release_month.to_s + "-" + game.expected_release_day.to_s
        %td= game.platforms
        //displays edit and destroy buttons only if user id is equal to one
        //The account with user id one is considered an administrator
        %td.btn.btn-danger.btn-xs= link_to t("home.show"), game
        - if current_user.id == 1
          %td.btn.btn-danger.btn-xs= link_to t("home.edit"), edit_game_path(game)
          %td.btn.btn-danger.btn-xs= link_to t("home.destroy"), game, method: :delete, data: { confirm: t("home.confirmation") }

  %br
