.flex_column
  %h2= t(".welcome")
  %h4= t(".search_for")
  %br
  %br
  %form.form-inline{:action => search_path}
    .row.center
      %input.form-control.input_width.search_bar{"aria-label" => t(".search_upper"), :placeholder => t(".search_for_game"), :type => t(".search_lower"), :name => t(".search_games")}
    .row.center
      %button.btn.btn-outline-success.input_width{:type => t(".submit")}= t(".search_upper")
  %br
  %br
  %br
  %br
  %h4= t(".already")
  %h4= t(".inside")
