= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :deck
    = f.text_area :deck
  .field
    = f.label :og_release_date
    = f.datetime_select :og_release_date
  .field
    = f.label :expected_release_day
    = f.number_field :expected_release_day
  .field
    = f.label :expected_release_month
    = f.number_field :expected_release_month
  .field
    = f.label :expected_release_year
    = f.number_field :expected_release_year
  .field
    = f.label :platforms
    = f.text_field :platforms
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :gb_id
    = f.number_field :gb_id
  .actions
    = f.submit 'Save'
