%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Deck:
  = @game.deck
%p
  %b Og release date:
  = @game.og_release_date
%p
  %b Expected release day:
  = @game.expected_release_day
%p
  %b Expected release month:
  = @game.expected_release_month
%p
  %b Expected release year:
  = @game.expected_release_year
%p
  %b Platforms:
  = @game.platforms
%p
  %b Image:
  = @game.image
%p
  %b Gb:
  = @game.gb_id

%p Forum Posts:
%table
  %tbody
    - @game.forums.each do |forum|
      %tr{id: "forum_#{forum.id}"}
        %td= forum.title
        %td= link_to 'Show', forum
        %td= link_to 'Edit', edit_forum_path(forum)
        %td= link_to 'Destroy', forum, :method => :delete, :data => { :confirm => 'Are your sure?'}, :remote => true


%p= link_to 'Add Forum', new_forum_path(game_id: @game)

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
