%dl
    %em
        %dt= t(".email")
        %p= @email
        %dt= t(".name")
        %p= @name
%b
    %br= t(".dear")+" #{t('app_title')},"
    %p= t(".in_touch")

    %p= @message

    %p= t(".thanks")
    %p= @name
