
%dl
    %em
        %dt= t(".email") + " " + @email
        %dt= t(".name") + " " + @name
%b
    %p= t(".dear")+" #{t('app_title')},"
    %p.in_message= t(".in_touch")
    %p.in_message= @message
    %p= t(".thanks")
    %p= @name
